html, body { height: 100%; }
body {
    margin: 0;
}

.moving-zone {
  perspective: 800px;
  transform-style: preserve-3d;
}


.popup-content {
    transform-style: preserve-3d;
    box-shadow: 20px 20px 25px -6px rgba(0, 0, 0, .8);
    padding: 30px 50px;
    border-radius: 100% ;
}


.popup-text {
    transform: translateZ(65px);
    transform-style: preserve-3d;
}

.logo-placeholder {
  transform-style: preserve-3d;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
}

.popup-content:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.popup-content:hover .logo-placeholder{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(var(--accent-color));
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 100px #FFF;
  }

  to {
    text-shadow: 0 0 160px #FFF;
  }
}

@media (min-width: 768px) {
  .popup-content {
      box-shadow: 40px 40px 50px -12px rgba(0, 0, 0, .8);
      padding: 60px 100px;
      border-radius: 100%  ;
  }
  .popup-text {
      transform: translateZ(130px);
  }
}




.logo-0 {
  font-size: 10px;
}

.logo-1, .logo-2, .logo-3 {
  font-size: 50px;
  font-weight: 100;
  font-family: 'Black Ops One', cursive;
  color: #f16f6f;
  margin: 0;
  line-height: 0;
  animation: glitch3 2.7s infinite;
}

.logo-2 {
  color: #67f3da;
  animation: glitch2 2.9s infinite;
}

.logo-3 {
  color: white;
  animation: glitch1 3.5s infinite;
}

@media (min-width: 768px) {
  .logo-1, .logo-2, .logo-3 {
    font-size: 75px;
    font-weight: 100;
  }
}

/* ========== Glitch effect from https://codepen.io/FelixRilling/pen/vNJoMy ========== */

/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.8deg, -1.2deg);
    opacity: 0.95;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(1.0deg, -0.2deg);
    opacity: 0.85;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1.4deg, 0.3deg);
    opacity: 0.95;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.6deg, 1.4deg);
    opacity: 0.85;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-3px, -4px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -3px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-3px, -5px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(3px, 4px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(6px, 3px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(6px, 2px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(3px, 5px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
